/* html, body {
    margin:0;
    padding:0;
    background:black;
    overflow:hidden;
}


.tiktok-feed {

    height:100vh;
    overflow-y:scroll;
    scroll-snap-type:y mandatory;

}


.tiktok-video {

    height:100vh;
    width:100%;
    position:relative;
    scroll-snap-align:start;

}


.video-player {

    width:100%;
    height:100%;
    object-fit:cover;

}


.info {

    position:absolute;
    bottom:50px;
    left:20px;
    color:white;

} */

.short {
  height: 100vh;        /* cada video ocupa toda la pantalla */
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

.short video {
  height: 100%;
  width: auto;
  object-fit: cover;
}
