<!DOCTYPE html>
<html lang="es">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Videos | JardinTV</title>
<link rel="stylesheet" href="/static/shorts.css">
</head>

<body>

<header class="navbar">
    <div class="logo">
        🌿 <span>JardinTV</span>
    </div>

    <nav>
        <a href="/">🏠 Inicio</a>
        <a href="/upload">📤 Subir video</a>
        <a href="/watch">🎥 Videos</a>
    </nav>
</header>

 
<div class="tiktok-feed">

{% for video in videos %}

<section class="tiktok-video">

    <video 
        class="video-player"
        src="{{ video.url_video }}"
        poster="{{ video.thumbnail }}"
        muted
        playsinline
        loop>
    </video>

    <div class="info">
        <h2>🌱 {{ video.titulo }}</h2>
        <p>{{ video.descripcion }}</p>
    </div>

</section>

{% endfor %}

</div>
<footer>
<p>© 2026 JardinTV 🌿</p>
</footer>
<script type="module" src="/static/js/shorts.js"></script>
 
</body>
</html>
