<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
<meta name="google-site-verification" content="I_h_NCijymf3lzOuZiSQXmk7R9lyrYzMQDpuJSxYIMM" />
<link rel="stylesheet" href="{{ url_for('static', filename='shorts.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
<title>VideosTV-Shorts</title>
</head>

<body>
 <header class="navbar">
        <div class="logo">
            <span>JardinesTV</span>
        </div>
        <nav>
            <a href="/">🏠 Inicio</a>
            <a href="/shorts">Shorts</a>
        </nav>
    </header>

<div id="loading" class="loading">
    Cargando videos...
</div>

<main id="video-feed"></main>

 
<script src="{{ url_for('static', filename='js/shorts.js')}}"></script>
</body>
</html>