<!DOCTYPE html>
<html lang="es">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Videos | JardinTV</title>
<link rel="stylesheet" href="/static/shorts.css">
</head>

<body>

<header class="navbar">
    <div class="logo">
        🌿 <span>JardinTV</span>
    </div>

    <nav>
        <a href="/">🏠 Inicio</a>
        <a href="/upload">📤 Subir video</a>
        <a href="/watch">🎥 Videos</a>
    </nav>
</header>
<div class="short">
  <video src="https://firebasestorage.googleapis.com/v0/b/jardines-4e1db.firebasestorage.app/o/videos%2F1785546965155_Disfrutemos%20de%20unas%20pizzas%20juntos.mp4?alt=media&token=bf1629aa-4581-4bd0-9eac-0ee26cb461a6" muted playsinline></video>
</div>

<div class="short">
  <video src="https://firebasestorage.googleapis.com/v0/b/jardines-4e1db.firebasestorage.app/o/videos%2F1785542533522_2026-06-21%2012-59-22.mp4?alt=media&token=60022881-3700-440d-a27b-8c087ca523b7" muted playsinline></video>
</div>

<div class="short">
  <video src="https://firebasestorage.googleapis.com/v0/b/jardines-4e1db.firebasestorage.app/o/videos%2F1785539866173_prueba.mp4?alt=media&token=71d2e16c-6782-4bec-adc1-98ce64c5079d" muted playsinline></video>
</div>

<!--  
<div class="tiktok-feed">

{% for video in videos %}

<section class="tiktok-video">

    <video 
        class="video-player"
        src="{{ video.url_video }}"
        poster="{{ video.thumbnail }}"
        muted
        playsinline
        loop>
    </video>

    <div class="info">
        <h2>🌱 {{ video.titulo }}</h2>
        <p>{{ video.descripcion }}</p>
    </div>

</section>

{% endfor %}

</div> -->
<footer>
<p>© 2026 JardinTV 🌿</p>
</footer>
<script type="module" src="/static/js/shorts.js"></script>
 
</body>
</html>
