<!DOCTYPE html>
<html lang="es">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Videos | JardinTV</title>

<link rel="stylesheet" href="/static/shorts.css">

</head>

<body>


<div class="video-feed">


{% for video in videos %}


<div class="video-container">


<video 
class="short-video"
poster="{{ video.thumbnail }}"
playsinline
webkit-playsinline
muted
controls
preload="metadata">


<source src="{{ video.url_video }}" type="video/mp4">

</video>



<div class="video-info">

<h3>🌱 {{ video.titulo }}</h3>

<p>{{ video.descripcion }}</p>

</div>



</div>


{% else %}


<div class="video-empty">

<h2>No hay videos todavía</h2>

</div>


{% endfor %}


</div>



<script src="/static/js/shorts.js"></script>


</body>

</html>